html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*********************************
** Top Navigation Bar           **
*********************************/
.top-navigation{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content{
    width: 46.162rem;  /*changed from instructions 970px - better fit*/
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-blocks;
    letter-spacing: 0.03em;
    margin-left: 25px;
}

.top-navigation .links > .active{
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo{
    height: 70px;
    position: relative;
    float: left;
}

.links li {
    display: inline-block;
    margin-left: 2rem;
    /*margin-top: .65rem;*/
    margin: 0 auto;
body{
    font-family: 'Roboto', sans-serif;
}

/***************************************************
** Middle: Introduction                           **
***************************************************/
}
.introduction{
    background-image: url('../images/first-background.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    /*border: 1px solid black;*/
    height: 45.938rem;
    width: 76.938rem;
    overflow: auto;
    }
.content{
    text-align: center;
    font-weight: 100;
}
section h1{
    margin-top: 17rem;
    font-size: 3.0rem;
    color: white;
}
section h3{
    font-size: 1.5rem;
    color: white;
}

button{
    display: block;
    margin: 0 auto;
    background-color: #ff6600;
    height: 3.0rem;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
    height: 3.5rem;
    border: none;
    padding: 0 1.25rem;
}
button:hover{
    background-color: #cc5200;
}

/******************************************
** Middle: Devices                       **
******************************************/
.cases{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 1.75rem;
    /*width: 76.938rem;*/
    height: 470px;
    margin-top: 7rem;
}
.cases .devices{
    width: 19%;
    display: inline-block;
    /*border: 1px solid black;*/
    height: 5em;
    vertical-align: top;
}
.cases h4{
    font-size: 1.5rem;

    font-weight: 400;
}
.devices img{
    height: 7.938rem;
    width: 7.938rem;
}

/*************************************
** Bottom:  Footer/Social           **
*************************************/
.footer{
    width: 76.938rem;
    height: 19.063rem;
    text-align: center;
}
hr {
    width: 44.287rem;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 0;
}
.social ul{
    display: inline-block;
    width: 44.287rem;
    height: 4rem;
}
.social li{
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    margin: auto 10px;
}
.icons{
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.social i{
    font-size: 1rem;
    margin: .75rem;
}
.fa-twitter{
    color: #00aced;;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #517fa4;
}
#copyright{
    color: #8c8c8c;
    font-size: .85rem;
    margin-top: 0;
}

