html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;

}
.top-navigation > .content{
    width: 970px;
    margin: 0 auto;
    padding: 0px 15px;



}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-blocks;
    letter-spacing: 0.03em;
    margin-left: 25px;
}

.top-navigation .links > .active{
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}


.logo{
    height: 70px;

}

.links li {
    display: inline-block;
    margin-left: 2rem;
    /*margin-top: .65rem;*/
    margin: 0 auto;
body{
    font-family: 'Roboto', sans-serif;
}
}
.introduction{
    background-image: url('../images/first-background.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    border: 1px solid black;
    height: 45.938rem;
    width: 76.938 rem;
    overflow: auto;
    }
.content{
    text-align: center;
    font-weight: 300;


}
section h1{
    margin-top: 12rem;
    font-size: 3.0rem;
    color: white;



}
section h3{
    font-size: 1.5rem;
    color: white;

}
/*.button{

    width: 9.68rem;
    margin: 0 auto;
    text-align: center;
}*/
button{
    display: block;
    margin: 0 auto;
    background-color: #ff6600;
    height: 3.0rem;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
    height: 3.5rem;
    border: none;
    padding: 0 1.25rem;

}
button:hover{
    background-color: #cc5200;
}
.cases{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 1.85rem;

}

.cases .devices{
    width: 21%;
    display: inline-block;
    border: 1px solid black;
    height: 5em;

}
.devices img{
    height: 7.938rem;
    wigth: 7.938rem;

}




